body{
	height: 100%;
}

#tool{
	position: relative;
	margin-top: 10px;
	height: 100%;
}

#pallet-wrapper{
	width: 100%;
	height: 500px;
	overflow: auto;
	background-color: black;
}

#pallet{
	padding: 20px 5px 0;
	background-color: #000000;
}

#pallet .panel {
	border: 0;
	background-color: black;
}

#pallet .panel-heading {
	color: white;
	border: 0;
	background-color: black;
}

#pallet .panel-body {
	border: 0;
	background-color: black;
}

#pallet .btn{
	//display: block;
	margin-bottom: 10px;
}

#pallet .btn-row{
	position: relative;
	display: list-item;
	list-style-type: square;
	width: 100%;
	min-height: 54px;
	cursor: pointer;
	color: white;
	font-size: 1.7em;
	padding-right: 48px;
}

#pallet .btn-row img{
	position: absolute;
	top: 50%;
	margin-top: -24px;
	right: 0;
	width: 48px;
	height: 48px;
}

#pallet .btn-row small{
	display: block;
	font-size: 0.5em;
}

#canvasBox{
	background-color: #efefef;
	border: solid 1px #808080;
	width: 100%;
	height: 100%;
	overflow: auto;
}

#loading{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: #fff;
	opacity: 0.6;
}

#loading-img{
	position: relative;
	left:50%;
	top:20%;
	margin-left:-30px;
}

#executeForm{
	margin-top: 10px;
}

.file {
  display: inline-block;
  overflow: hidden;
  position: relative;
  padding: .5em;
  border: 1px solid #999;
  background-color: #eee;
}

.file input[type="file"] {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  font-size: 100px;
  cursor: pointer;
}

.thumb {
	max-width: 200px;
	max-height: 200px;
}